/*Fonts
Space mono Bold 700

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

lexend deca regular

.lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*/

:root {
    /*colors*/
    --yellow: #fcb72b;
    --light-yellow: #fff4df;
    --dark-navy:#333A44;
    --navy: #495567;
    --medium-grey: #939caa;
    --light-grey: #e5ecf4;
    --snow: #f2f5f9;

     /*fonts*/
    --space-mono: 'Space mono', monospace;
    --lexend-deca: 'Lexend deca', 'sans-serif';

    /*font-weight*/
    --bold:700;
    --regular:400;

     /*font-size*/
    --h1-mobile: 40px;
    --h1-desktop:56px;
    --text:15px;
    --h2-mobile:32px;
    --h2-desktop:48px;
    --h3-mobile: 20px;
    --h3-desktop:24px;

    /*line-height*/
    --line-height-m: 28px;
    --line-height-l: 48px;
    --line-height-xl: 56px;
    }

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: var(--lexend-deca), sans-serif;
    margin: 0;
}

.header1{
    height: 64px;
    padding-inline: 32px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    position: relative;
}

@media screen and (width>786px){
    .header1{
       height: 96px;
       padding-inline: 40px;
       padding-top: 22px;
       align-items: center;
    }
}

.logo-burger{
    display: flex;
    flex-direction: row;
}

.burger{
    margin-right: 97px;
}

@media screen and (width>786px){
    .burger{
        display: none;
    }
}

.logomenu{
    width: 75px;
}

@media screen and (width>786px){
    .logomenu{
        width: 108px;
        position: relative;
        z-index: 10;
    }
}

.nav{
    position: absolute;
    top: 64px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--dark-navy);
    color: white;
    width: 256px;
    height: calc(100vh - 64px);
    z-index: 1;
    padding-inline: 32px;
    padding-top: 64px;
    padding-bottom: 24px;
    translate:-100%;
    transition: translate 0.3s;
}

@media screen and (width>786px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 96px;
        translate: 0;
        background-color: transparent;
        padding-top: 21px;
        padding-left: 205px;
        padding-right: 40px;
        position: absolute;
        top: 0px;
    }

    .options{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;
        width: 249px;
    }
}

.menu-option{
    font-size: 18px;
    font-family: var(--space-mono);
    color: white;
    font-weight: var(--bold);
}

@media screen and (width>786px){
    .menu-option{
        color: var(--medium-grey);
        margin-top: 12px;
    }
}


.button{
    font-family: var(--space-mono);
    font-size: var(--text);
    width:180px;
    height: 53px;
    background-color: var(--yellow);
    border: none;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-inline: 27px;
    margin-inline: auto;
    z-index: 1;
}

.menu-option-last{
    margin-top: auto;
}

@media screen and (width>786px){
    .menu-option-last{
        margin-top: 0px;
        margin-left: 94px;
    }
}

@media screen and (width>1024px){
    .menu-option-last{
        margin-right: 0%;
}
}

.button-nav{
    width: 192px;
}

.menu-show{
    translate:0;
}

.title{
    margin-bottom: 0px;
    font-family: var(--space-mono);
    font-size: var(--h2-mobile);
    color: var(--navy);
    font-weight: var(--bold);
    line-height: 32px;
    letter-spacing: -1.43px;
}

@media screen and (width>786px){
    .title{
        font-size: var(--h2-desktop);
        line-height: 48px;
        letter-spacing: -2.14px;
        width: 457px;
        text-align: center;
    }
}

.title-small{
    font-size: var(--h3-mobile);
    font-family: var(--space-mono);
    color: var(--navy);
    font-weight: var(--bold);
}

@media screen and (width>786px){
    .title-small{
        text-align: start;
        line-height: 28px;
    }
}

.banner{
    height: 650px;
    background-image:url(../assets/images/home-hero-mobile.jpg);
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: #4e7fc7;
    padding-inline: 32px;
    padding-top: 115px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (width>786px){
    .banner{
        padding-inline: 97px;
        padding-top: 137px;
        background-image: url(../assets/images/home-hero-tablet.jpg);
    }

    .banner::after{
        content: '';
        position: absolute;
        width: 234px;
        height: 63px;
        background-image: url(../assets/patterns/white-circles.svg);
        top: 565px;
        left: 595px;
    }
}

@media screen and (width>1024px){
    .banner{
        background-image: url(../assets/images/home-hero-desktop.jpg);
        padding-block: 152px;
        padding-left: 165px;
        padding-right: 775px;
        gap:40px;
    }
    
    .banner::after{
        left: 1024px;
    }
}


.banner-title{
    font-family: var(--space-mono);
    color: white;
    font-size: var(--h1-mobile);
    line-height: 40px;
    text-align: center; 
    margin-top: 0px;
    margin-inline: auto;
}

@media screen and (width>786px){
    .banner-title{
        font-size: var(--h1-desktop);
        line-height: 56px;
        letter-spacing: -2.5px;
    }
}

@media screen and (width>1024px){
    .banner-title{
        width: 500px;
        text-align: start;
    }
}

@media screen and (width>786px){
    .banner-title2{
        text-align: start;
    }
}

.banner-arrow{
    position: absolute;
    top:478px;
    left:-240px;
    z-index: 0;
}

@media screen and (width>786px) {
    .banner{
        background-image:url(../assets/images/home-hero-tablet.jpg);
    }

    .banner-arrow{
        left: -110px;
    }
}

@media screen and (width>1024px) {
    .banner-arrow{
        top: 465px;
        left: 500px;
    }
}

@media screen and (width>1024px) {
    .banner{
        background-image:url(../assets/images/home-hero-desktop.jpg);
    }
}

.main{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 72px;
    padding-inline: 32px;
    padding-bottom: 120px;
}

@media screen and (width>786px) {
    .main{
        padding-inline: 40px;
    }
}


.main-home{
padding-top: 120px;
}

.text{
    margin-top: 0px;
   font-size: var(--text); 
   color: var(--medium-grey);
   line-height: 25px;
   margin-bottom: 0px;
   font-weight: var(--regular);
}

.banner-text{
    color: white;
}

@media screen and (width>1024px) {
    .banner-text{
        margin-left: 95px;
        width: 405px;
        text-align: start;
    }
}

.icon-sec1{
    width: 56px;
    margin-inline: auto;
}

@media screen and (width>786px) {
    .icon-sec1{
        width: 96px;
    }
}

@media screen and (width>1024px) {
    .icon-sec1{
        margin-left: 0px;
    }
}

.section1{
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    position: relative;
}

@media screen and (width>786px) {
    .section1::after{
        content: '';
        position: absolute;
        width: 15px;
        height: 530px;
        background-color: var(--light-grey);
        z-index: -1;
        left: 40px; 
        top: -120px;
    }
}



@media screen and (width>1024px) {
    .section1{
        flex-direction: row;
        gap: 30px;
    }

    .section1::after{
        width: 974px;
        height: 15px;
        background-color: var(--light-grey);
        z-index: -1;
        top: 40px;
        left: -120px;
    }

}

.item-sec1{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (width>786px) {
    .item-sec1{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 79px;
        width: 573px;
    }
}

@media screen and (width>1024px) {
    .item-sec1{
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }
}

@media screen and (width>786px) {
    .item-sec1-info{
        display: flex;
        flex-direction: column;
        width: 398px;
        text-align: start;
    }
}

@media screen and (width>1024px) {
    .item-sec1-info{
        width: 350px; 
    }
}


.section2{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 0px;
}

@media screen and (width>786px) {
    .section2{
        gap: 128px;
}
}

.images-sec2{
    position: relative;
}

.img-sec2{
    width: 311px;
    height: 311px;
    border-radius: 50%;
}

.img-sec2-circle1{
    display: none;
}

.img-sec2-circle2{
    display: none;
}

@media screen and (width>786px) {
    .img-sec2{
        width: 445px;
        height: 445px;
        border-radius: 50%;
       margin-inline: auto;
    }

    .img-sec2-circle1{
        display: block;
        position: absolute;
        top: 0px;
        left: 650px;
        z-index: -1;
        
    }

    .img-sec2-circle2{
        display: block;
        position: absolute;
        top: 0px;
        left: -370px;
        z-index: -1;
    }
}

.item-sec2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.info-sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
    margin-inline: auto;
}

@media screen and (width>786px) {
    .info-sec2{
        gap: 40px;
        margin-inline: auto;
        align-items: center;
}
}

.arrow1-sec2{
    position: absolute;
    top: 173px;
}

.arrow2-sec2{
    position: absolute;
    top: 0px;
    right: 81px;
}

.arrow3-sec2{
    position: absolute;
    top: 0px;
    left: 130px;
}

.app-box{
    margin-inline: auto;
    display: flex;
    align-items: center;
    width: 256px;
    justify-content: space-between;
}

/*porque sale la letra en serifa?*/
.app-ios{
    width: 114px;
    font-family: sans-serif;
}

.app-android{
    width: 130px ;
    font-family: sans-serif;
}

/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
}

.footer-sec1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--navy);
    padding-inline:32px;
    padding-top: 88px;
    padding-bottom: 88px;
    background-image:url(../assets/patterns/semi-circles.svg); 
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x:left;
}

@media screen and (width>786px) {
    .footer-sec1{
        padding-inline:156px;
        padding-block: 62px;
        background-position-x:center;
        background-position-y: bottom;
}
}

.title-sec1-footer{
    color: white;
    text-align: center;
    letter-spacing: -1.43px;
}

.footer-sec2{
    background-color: var(--dark-navy);
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 88px;
    padding-inline: 127px; 
}

@media screen and (width>786px) {
    .footer-sec2{
        flex-direction: row;
        align-items: center;
        padding-inline: 40px;
        padding-block: 32px;
}
}

.logo-footer{
    width: 108px;
    filter: brightness(100);
}

.links-footer{
display: flex;
flex-direction: column;
margin-top: 41px;
gap: 16px;
}

@media screen and (width>786px) {
    .links-footer{
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        gap: 32px;
        margin-left: 58px;
        margin-right: 153px;
    }
}


.footer-options{
    color: var(--medium-grey);
    font-size: var(--text);
    font-family: var(--space-mono);
    text-align: center;
}

.rrss{
    display: flex;
    gap: 16px;
    margin-top: 85px;
}

@media screen and (width>786px) {
    .rrss{
        margin-top: 0px;
    }
}

/*About*/

.banner2{
    width: 100%;
    height: 160px;
    padding-top: 60px;
}

@media screen and (width>786px) {
    .banner2{
    height: 200px;
    padding-block: 72px;
    position: relative;
    padding-left: 97px;
    text-align: start;
}
}

@media screen and (width>786px) {
    .banner2::after{
        content: '';
        width: 234px;
        height: 63px;
        background-image:url(../assets/patterns/white-circles.svg);
        position: absolute;
        top: 68px;
        right: -32px;
    }
}

.banner-about{
    background-image: url(../assets/images/about-hero-mobile.jpg);
}

@media screen and (width>786px) {
    .banner-about{
        background-image:url(../assets/images/about-hero-tablet.jpg);
    }
}


.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    text-align: center;
}

@media screen and (width>786px) {
    .section5{
        gap: 64px;
    }
}

@media screen and (width>786px) {
    .title-sec5{
        font-size: var(--h1-mobile);
    }
}


.sec5-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.acordion-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
}

.acordion-item{
    width: 311px;
    background-color: var(--snow);
    padding: 32px;
    display: flex;
    flex-direction: column;
}

@media screen and (width>786px) {
    .acordion-item{
        width: 689px;
        padding-left: 40px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 24px;
    }
}

.acordion-title{
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: space-between;
}

.title-position{
    font-size: 18px;
}

@media screen and (width>786px) {
    .title-position{
        font-size: var(--h3-desktop);
        text-align: start;
    }
}

.acordion-text{
    padding: 0px;
    max-height: 0px;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
}

.acordion-show{
    max-height: 400px;
}

/*Careers*/

.banner-careers{
    background-image: url(../assets/images/careers-location-hero-mobile.jpg);
}

@media screen and (width>786px) {
    .banner-careers{
        background-image: url(../assets/images/careers-locations-hero-tablet.jpg);
    }
}

@media screen and (width>1024px) {
    .banner-careers{
        background-image: url(../assets/images/careers-locations-hero-desktop.jpg);
    }
}



.title-sec3{
  padding-bottom: 64px;
}

@media screen and (width>786px) {
    .section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        text-align: center;
    }
}

.sec3-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.imgs-sec3{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    height: 288px;
    position: relative;
}

.img-sec3{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-inline: auto;
}

.sec3-number{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    font-family: var(--space-mono);
    color: var(--navy);
    line-height: 28px;
    background-color: var(--yellow);
    font-size: 24px;
    font-weight: var(--bold);
    margin-inline: auto;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 72px;
    padding: 34px;
}

.info-sec3{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

@media screen and (width>786px) {
    .info-sec3{
        width: 457px;
    }
}

.titleinfo-sec3{
    font-size: 24px;
    font-family: var(--space-mono);
    font-weight: var(--bold);
    line-height: 28px;
    letter-spacing: -1.07px;
}

@media screen and (width>786px) {
    .titleinfo-sec3{
        font-size: var(--h3-desktop);
    }
}


.section4{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.sec4-item{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 32px;
    background-color: var(--snow);
}

@media screen and (width>786px) {
    .sec4-item{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 48px;
        padding-block: 34px;
        gap: 208px;
    }
}

.position{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
}

@media screen and (width>786px) {
    .position{
        width: 205px;
        text-align: start;
        margin: 0px;
    }
}

/*Location*/

.main-location{
    padding-bottom: 72px;
    position: relative;
}

@media screen and (width>786px) {
    .main-location{
        padding-top: 144px;
        padding-bottom: 120px;
        padding-inline: 40px;
        position: relative;
    }
}

.map{
    position: relative;
}

@media screen and (width>786px) {
    .info-cities{
        width: 573px;
        display: flex;
        flex-direction: column;
        gap: 40px;
}
}

.cities{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (width>786px) {
    .cities{
        top: 0px;
        position: absolute;
}
}

.city{
    width: 311px;
    height: 72px;
    background-color: var(--light-yellow);
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-size: 24px;
    font-family: var(--space-mono);
    color: var(--navy);
    font-weight: var(--bold);
}

@media screen and (width>786px) {
    .city{
        position: relative;
        width: 120px;
        height: 32px;
        background-color: var(--yellow);
        font-size: 13px;
        line-height: 28px;
        padding-block: 0px;
}
    .city::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: var(--yellow);
        top: 24px;
        left: 54px;
        rotate: 45deg;
    }

    .newyork{
        position: absolute;
        left: 100px;
        top: 50px;

    }
    .london{
        position: absolute;
        left: 240px;
        top: 20px;
    }
    .jakarta{
        position: absolute;
        left: 480px;
        top: 165px;

    }
    .yokohama{
        position: absolute;
        left: 530px;
        top: 60px;
    }
}


.button-location{
    margin-inline: auto;
}

